.banner {
    font-size: 4em;
    text-align: center;
}

.form-container {
    width: 70%;
    margin: 0 auto;
}
#gmap { 
    height: 600px;
}


#gmap-dropdown {
    height: 600px;
}

.js-clinic-location {
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

.current_location {
    padding:6px;
    color:white;
    background:rgba(0,0,0,0.6);
}

.geo_icon:hover {
    cursor: pointer;
    color: blue;
}

.search-bar {
    margin-bottom: 20px;
}

.btn-submit {
    width: 50%;
    margin-top: 50px;
}

.disaster-block {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 2px solid #eee;
}