<div class="banner-container py2">
    <div class="banner">EMRAIT</div>
    <div class="center h4">全台診所資料查詢</div>
</div>

<%= render "units/clinic_form" %>


<% content_for :javascript do %>
    <script async="async" data-turbolinks-track="true" src="/assets/dist/clinic.js"></script>
<% end %>
