<div class="banner-container py2">
    <div class="banner">EMRAIT</div>
    <div class="center h4">緊急醫療資源指派與查詢工具</div>
</div>
<div class="form-container clearfix">
    <form class="form-horizontal" method="get" action="emergency_result">
        <h3 id="first-title"></h3>
        <div class="form-group">
            <div class="col-md-2">
                <select class="form-control js-location-select" data-number="1">
                    <option value="location">地址</option>
                    <option value="geocode">座標</option>
                </select>
            </div>
            <div id="location-input-1">
                <div class="col-md-6" id="location">
                    <input type="text" class="form-control js-address" name="address1" placeholder="輸入所在地址" data-number="1" required>
                    <input type="hidden" name="lat1" id="lat1" required>
                    <input type="hidden" name="lng1" id="lng1" required>
                </div>
            </div>
            <span id="msg1" class="col-md-4"></span>
        </div>
        <div class="form-group">
            <label for="injure" class="col-md-2 control-label">傷患人數</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="injure" placeholder="傷患人數" name="injure1">
            </div>
        </div>
        <div id="multi"></div>
        <input type="hidden" value="1" name="length" id="length">
        <input type="hidden" value="5" name="distance">
        <a id="new" class="btn btn-success">New</a>
        <button type="submit" class="btn btn-primary pull-right" disabled="disabled" id="submit">查詢</button>
    </form>
</div>
<hr>
<a href="/mission" class="h3" style="color: blue">查看出勤中救護車</a>

<script type="text/x-handlebars-template" id="multi-disaster">
    <hr>
    <h3>災點{{number}}：</h3>
    <div class="form-group">
        <div class="col-md-2">
            <select class="form-control js-location-select" data-number="{{number}}">
                <option value="location">地址</option>
                <option value="geocode">座標</option>
            </select>
        </div>
        <div id="location-input-{{number}}">
            <div class="col-md-6" id="location">
                <input type="text" class="form-control js-address" name="address{{number}}" placeholder="輸入所在地址" data-number="{{number}}" required>
                <input type="hidden" name="lat{{number}}" id="lat{{number}}" required>
                <input type="hidden" name="lng{{number}}" id="lng{{number}}" required>
            </div>
        </div>
        <span id="msg{{number}}" class="col-md-4"></span>
    </div>
    <div class="form-group">
        <label for="injure" class="col-md-2 control-label">傷患人數</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="injure{{number}}" placeholder="傷患人數" name="injure{{number}}">
        </div>
    </div>
</script>
<% content_for :javascript do %>
    <script async="async" data-turbolinks-track="true" src="/assets/dist/home.js"></script>
<% end %>