<table class="table">
    <thead>
        <tr>
            <th>距離(km)</th>
            <th>機構名稱</th>
            <th>電話</th>
            <th>救護車數</th>
        </tr>
    </thead>
    <% @result_hash.each do |distance, data| %>
    <tr>
        <td><%= distance %></td>
        <td><%= data["name"] %></td>
        <td><%= data["phone"] %></td>
        <td><%= data["number"] %></td>
    </tr>
    <% end %>
</table>