<h3>出勤中救護車</h3>
<table class="table">
    <thead>
        <tr>
            <th>出發緯度</th>
            <th>出發經度</th>
            <th>目的地緯度</th>
            <th>目的地經度</th>
            <th></th>
        </tr>
    </thead>
    <% @mission.each do |ary| %>
        <tr>
            <td><%= ary["start_lat"] %></td>
            <td><%= ary["start_lng"] %></td>
            <td><%= ary["end_lat"] %></td>
            <td><%= ary["end_lng"] %></td>
            <td><button class="btn btn-success">任務完成</button></td>
        </tr>
    <% end %>
</table>