<% content_for :javascript do %>
    <script async="async" data-turbolinks-track="true" src="/assets/dist/home.js"></script>
<% end %>

<div class="banner-container py2">
    <div class="banner">EMRAIT</div>
    <div class="center h4">鄰近災民收容所查詢</div>
</div>
<div class="form-container">
    <form class="form-horizontal" method="get" action="shelter_result">
        <div class="form-group">
            <div class="col-md-2">
                <select class="form-control" id="location-select">
                    <option value="location">地址</option>
                    <option value="geocode">座標</option>
                </select>
            </div>
            <div id="location-input">
                <div class="col-md-6" id="location">
                    <input type="text" class="form-control" name="address" placeholder="輸入所在地址" id="address" required>
                    <input type="hidden" name="lat" id="lat" required>
                    <input type="hidden" name="lng" id="lng" required>
                </div>
            </div>
            <span id="msg" class="col-md-4"></span>
        </div>

        <div class="form-group">
            <label for="victims" class="col-md-2 control-label">災民人數</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="victims" placeholder="災民人數" name="victims">
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right" disabled="disabled" id="submit">Submit</button>
    </form>
</div>
<!-- <table class="table">
    <thead>
        <tr>
            <th>醫院</th>
            <th>通報119滿床</th>
            <th>等待看診</th>
            <th>等待住院</th>
            <th>等待加護病床</th>
            <th>等待推床</th>
        </tr>
    </thead>
    <%# @json.each do |ary| %>
    <tr>
        <td><%#= HomeHelper.to_name(ary["hospital"]) %></td>
        <td><%#= ary["to_119"] %></td>
        <td><%#= ary["wait_see"] %></td>
        <td><%#= ary["wait_bed"] %></td>
        <td><%#= ary["wait_cure_bed"] %></td>
        <td><%#= ary["wait_push_bed"] %></td>
    </tr>
    <%# end %>
</table> -->
