<div class="form-container">
    <form action="/clinic_search" method = "get" class="form-horizontal">
        <span class="input-group py1" style="width:70%; margin: 0 auto">
            <span class="input-group-addon">
            <i class="fa fa-location-arrow geo_icon" id="get_geo"></i>
            </span>
            <input type="text" class="form-control" name="address" placeholder="輸入你的地址" id="address">
        </span>
        <div id="address-msg" class="center pyb4"></div>
        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lng" id="lng">
        <div class="center">
            <button class="btn btn-primary" id="submit" disabled="disabled">送出</button>
        </div>
    </form>
</div>
