<nav class="clearfix white bg-black">
    <div class="container">
        <div class="sm-col">
            <a href="/" class="button py1 button-transparent">Home</a>
            <a href="/" class="button py1 button-transparent">Burgers</a>
            <a href="/" class="button py1 button-transparent">Fries</a>
        </div>
        <div class="sm-col-right">
            <a href="/" class="button py1 button-transparent">About</a>
        </div>
    </div>
</nav>